<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Установить владельца</title>
</head>
<body>
<p th:text="${book.getTitle()}"></p>
     <form th:method="PATCH" th:action="@{/books/{id}/owner(id=${book.getId()})}">
        <label for="pers">Выберите человека</label>
        <select th:object="${person}" th:field="*{idp}" id="pers">
            <option th:each="person:${persons}" th:value="${person.getIdp()}"
            th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Выдать книгу">
    </form>

<div th:object="${book}">
    <div style="color:red" th:if="${#fields.hasErrors('person')}" th:errors="*{person}">
    jnkl
    </div>
</div>



     </br>
<form th:method="DELETE" th:action="@{/books/{id}/owner(id=${book.getId()})}">
    <input type="submit" value="Освободить книгу">
</form>
</body>
</html>